<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Meteohack</title>
    {% endif %}
    <link href="{{ url_for('static',filename='css/meteohack.css') }}" rel="stylesheet">
    
    <link rel="icon" 
      type="image/png" 
      href="static/img/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  </head>
  <body>
  
			<div class="navigation-bar">
					<span class="navigation-bar-link"><a href="/home">About</a></span>
					<span class="navigation-bar-link"><a href="/faq">FAQ</a></span>
					<span class="navigation-bar-link"><a href="https://weather.gc.ca/">weather.gc.ca</a></span>
			</div>
			
			<img class="meteohack-banner-full" src="{{ url_for('static',filename='images/banner1.png') }}">
		
		<div class="container">
			{% block content %}{% endblock %}    
		</div>
		
  </body>
</html>
